@model IEnumerable<Mini_Social_Networking_Web_App.Models.Gig>
@{ 
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var gig in Model)
    {
        <li>@gig.DateTime - @gig.Artist.Name</li>
    }
</ul>