@model IEnumerable<Mini_Social_Networking_Web_App.ViewModels.FollowingViewModel>
@{
    ViewBag.Title = "Following";
}

<h2>Following</h2>

<ul class="gigs flex-container" style="margin-top: 40px;">
    @foreach (var Followee in Model)
    {
        <li class="flex-item-container">
            <div class="details flex-item">
                <span class="artist">
                    @Followee.UserName
                        <button data-artist-id="@Followee.Id" class="btn btn-link btn-sm js-toggle-following pull-right">Follow</button>
                </span>
            </div>
        </li>
    }
</ul>

@section scripts{
    <script>
    $(document).ready(function () {
        $(".js-toggle-following").click(function (e) {
            var button = $(e.target);
            $.post("/api/following", { ArtistId: button.attr("data-artist-id") })
            .done(function () {
                button
                    .text("Following");
            })
            .fail(function () {
                alert("Something failed!!");
            });
        });

    });
    </script>
    }